div{
  text-align: center;
}

img {
  width: 300px;
  margin-bottom: 10px;
}

input {
  font-size: 18px;
  width: 600px;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 15px;
  border-radius: 30px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

button{
  font-size: 15px;
  font-weight: 500;
  border: none;
  background-color: #F4F4F4;
  padding: 10px 15px;
  margin: 34px 10px 0 0;
  cursor: pointer;
  transition: all .1s;
}

button:hover{
  filter: brightness(90%);
}