* {
	vertical-align: middle;
	font-family: Arial, Helvetica, sans-serif;
}

img {
	width: 50px;
	border-radius: 50px;
}

input {
	border: none;
	font-size: 16px;
	margin-left: 10px;
	width: 250px;
}

button {
	color: white;
	font-size: 16px;
	font-weight: bold;
	background-color: #4998E7;
	border: none;
	padding: 8px 12px;
	border-radius: 40px;
}