* {
    font-family: Arial, Helvetica, sans-serif;
}

.item-container {
    display: inline-block;
    position: relative;
}

.item-container:hover .button-div {
    height: 80px;
}

.item-container:hover button {
    opacity: 1;
}

img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    cursor: zoom-in;
}

.discount {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 4px 6px;
    transition: all .2s;
    cursor: pointer;
}

.discount:hover{
    border: 1px black solid;
    background-color: white;
    color: black;
}

.button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    background-color: rgba(255, 255, 255, .9);
    overflow: hidden;
    transition: height .2s;
}

button {
    background-color: white;
    border: 1px solid black;
    padding: 6px 12px;
    opacity: 0;
    transition: all .2s;
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: white;
}